<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<system.web>
			<customErrors defaultRedirect="/errors"
						  mode="RemoteOnly">
				<error statusCode="500"
					   redirect="/errors"/>
				<error statusCode="404"
					redirect="/errors"/>				
			</customErrors>

		</system.web>
</configuration>