@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Security.Claims;
@{
    var userIdentity = (ClaimsIdentity)User.Identity;
    var claims = userIdentity.Claims;
    var roleClaimType = userIdentity.RoleClaimType;
    var role = claims.Where(c => c.Type == ClaimTypes.Role).ToList().First();
    var MyRole = role.Value;


    var ClerkCustomerId = -1;
    if (TempData.Peek("ClerkCustomer") != null)
    {
        ClerkCustomerId = (int)TempData.Peek("ClerkCustomer");
    }

}
@model HVK.Models.DeleteAccount
<main>
    <form asp-action="ConfirmDelete" class="confirmation-form">
        <h4>Are you sure you would like to delete your account?</h4>
        <p>Once your account is deleted, we will not be able to recover the account or any of the information in your account.</p>
        <br />
        <input class="check-box" asp-for="ConfirmDelete" type="checkbox" /><label asp-for="ConfirmDelete"> Yes, I confirm that I would like to delete my account.</label><br />
        <span class="asp-validation-span" asp-validation-for="ConfirmDelete"></span>
        <div class="contain">
            <input class="button" type="submit" value="Remove" />

                <a asp-action="Index" asp-controller="Home" asp-route-id="@ClerkCustomerId" class="backbutton">Cancel</a>
        </div>

    </form>
</main>